/* 
############################################################
Muestra de manejo de css para la aplicacion con flex y grid
############################################################
*/

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

.home {
  text-align: center;
}

.moviegrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  row-gap: 2rem;
  column-gap: 2rem;
  width: 100%;
  list-style: none;
  justify-content: space-around;
  align-items: start;
}

.release_date {
  position: absolute;
  top: 5px;
  padding: 5px;
  width: 100%;
  background-color: rgba(255, 6, 6, 0.794);
  font-family: sans-serif;
  text-align: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.p_release_date {
  height: min-content;
  line-height: 0;
  color: white;
  font-weight: 700;
  padding: 4px;
}
.shadow_movie {
  filter: drop-shadow(5px 5px rgba(255, 6, 6, 0.794));
}
